
/* h1.text-logo {
  color: black;
  margin-bottom: 40px;
  text-transform: none;

}

.body{

}




.menu-links {
  display: inline-block;


}

.m-link {
  padding: 5px 10px;
  background-color: #fafafa;
  border-radius: 5px;
  color: black;
  margin-right: 5px;
  text-decoration: none;
}

.m-link:hover {
  transition: 5ms ease-in;
  color: white;
  background-color: darkblue;

} */
