
<div class="jumbo">
  <div class="tomster right">
  </div>
  <div class="">
    <h2>About Super Rentals</h2>
    <p>Super Rentals is all helping you find what you need!</p>
    {{#link-to "contact" class='button'}} Contact Us {{/link-to}}

  </div>
</div>
