
<div class="jumbo">
  <div class="tomster right">
  </div>
  <div class="">
    <h2>Contact Us</h2>
    <p>Want to reach us?</p>
    {{#link-to "about" class='button'}} Learn About Us {{/link-to}}
  </div>

</div>
