<div class="jumbo">
  <div class="tomster right">
  </div>
  <div class="">
    <h2>Find what you need!</h2>
    <p>Let's get you in a good place, literally.</p>
    {{#link-to "about" class="button"}} About Us {{/link-to}}
  </div>
</div>

{{#each this.model as |rentalListing|}}
  <RentalListing @rental= {{rentalListing}} />
{{/each}}
